.infobox-container,
.md-autocomplete-suggestions-container {
    opacity: 1;
}

.infobox-container.ng-hide,
.md-autocomplete-suggestions-container.ng-hide {
    opacity: 0;
}

.infobox-container.ng-hide-add,
.md-autocomplete-suggestions-container.ng-hide-add {
  -webkit-animation:0.3s fadeOutUp ease-in-out;
  animation:0.3s fadeOutUp ease-in-out;
}



.infobox-container.ng-hide-remove,
.md-autocomplete-suggestions-container.ng-hide-remove {
  -webkit-animation:0.3s fadeInDown ease-in-out;
  animation:0.3s fadeInDown ease-in-out;
}

/*********************/

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }
}