<!DOCTYPE html>
<html lang="en">
  <head>
    <title>osmapa</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="vendor/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="vendor/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/animations.css"/>
  </head>

  <body ng-app="osmapaApp" layout="column" ng-controller="MainController as main" ng-cloak>
    <div class="search-container" layout-padding layout="row" ng-controller="SearchController as search">
      <md-autocomplete md-selected-item="search.search"
                       md-search-text="search.searchText"
                       md-selected-item-change="search.selectedItemChange(item)"
                       md-items="item in search.querySearch(search.searchText)"
                       md-item-text="item.properties.name"
                       placeholder="Search"
                       ng-model-options="{debounce: 250}">
        <div class="search-suggestion">
          <span class="search-suggestion-type" >{{item.properties.osm_key}} \ {{item.properties.osm_value}}</span>
          <span class="search-suggestion-name" md-highlight-text="searchText" md-highlight-flags="^i">{{search.getName(item)}}</span>
          <span class="search-suggestion-name search-suggestion-address">{{search.getAddress(item)}}</span>
        </div>
      </md-autocomplete>
    </div>

  <md-whiteframe class="infobox-container" layout="column" layout-align="center center"
                 ng-show="main.show.infobox">
    <div class="infobox-loading" layout="column" layout-align="start center"
         ng-show="main.show.infoboxLoading">
      <span class="infobox-loading-text">Searching for data...</span>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <div ng-hide="main.show.infoboxLoading">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>
            <span>{{main.map.objects.length}} object found</span>
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Refresh">
            <md-icon class="material-icons" aria-label="Refresh">refresh</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Close"
                     ng-click="main.hideInfobox()">
            <md-icon class="material-icons" aria-label="Close">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-tabs md-border-bottom md-swipe-content md-no-ink
               md-selected="main.selectedIndex"
               ng-if="main.map.objects.length">
        <md-tab ng-repeat="object in main.map.objects" label>
          <md-tab-label>
            {{object.tags.name|| object.id}}
          </md-tab-label>
          <md-tab-body>
            <pre>{{::object.tags| json}}</pre>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
  </md-whiteframe>

  <md-toolbar layout="row">
    <md-button ng-click="main.showMenu()">
      <md-icon class="material-icons step" aria-label="Options">settings</md-icon>
      <span class="toolbar-label">Options</span>
    </md-button>
    <md-button ng-click="main.showLayerSwitcher($event)">
      <md-icon class="material-icons step" aria-label="Layers">layers</md-icon>
      <span class="toolbar-label">Layers</span>
    </md-button>
    <h1>osmapa</h1>
    <md-button ng-click="main.action = 'geoloc'">
      <md-icon class="material-icons step" aria-label="Location">my_location</md-icon>
      <span class="toolbar-label">Location</span>
    </md-button>
  </md-toolbar>

  <div flex layout="row">
    <div ng-controller="SidebarController as sidebar">
      <md-sidenav class="md-whiteframe-z2" md-component-id="left">
        <md-list>
          <md-subheader class="md-no-sticky">Show this area in</md-subheader>
          <md-list-item ng-repeat="website in sidebar.websites">
            <md-icon class="material-icons">link</md-icon>
            <p><a ng-href="{{sidebar.goToUrl(website)}}" target="_blank">{{website}}</a></p>
          </md-list-item>
        </md-list>
      </md-sidenav>
    </div>
    <md-content flex id="content">
      <md-card>
        <div ng-leaflet ng-model="main.map" ng-layers="main.layers" ng-action="main.action" ng-shown="main.show"></div>
      </md-card>
      <footer>© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a></footer>
    </md-content>
  </div>

  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular/angular-animate.min.js"></script>
  <script src="vendor/angular/angular-aria.min.js"></script>
  <script src="vendor/angular-material/angular-material.js"></script>
  <script src="vendor/leaflet/leaflet.js"></script>

  <script src="js/app.js"></script>
  <script src="js/main/mainCtrl.js"></script>
  <script src="js/layers/layersCtrl.js"></script>
  <script src="js/search/searchCtrl.js"></script>
  <script src="js/search/searchService.js"></script>
  <script src="js/sidebar/sidebarCtrl.js"></script>
  <script src="js/leaflet.js"></script>
</body>
</html>
