<!DOCTYPE html>
<html lang="en">
  <head>
    <title>osmapa</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//gitcdn.xyz/repo/angular/bower-material/master/angular-material.css"/>
    <link rel="stylesheet" href="vendor/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/animations.css"/>
  </head>

  <body ng-app="osmapaApp" layout="column" ng-controller="MainController as main" ng-cloak>
    <div class="search-container" layout-padding layout="row" ng-controller="SearchController as search">
      <md-autocomplete md-select-on-match
                       md-selected-item="search.search"
                       md-search-text="search.searchText"
                       md-selected-item-change="search.selectedItemChange(item)"
                       md-items="item in search.querySearch(search.searchText)"
                       md-item-text="item.properties.name"
                       placeholder="Search"
                       ng-model-options="{debounce: 250}">
        <md-item-template>
          <div class="search-suggestion">
            <span class="search-suggestion-type" >{{item.properties.osm_key}} \ {{item.properties.osm_value}}</span>
            <span class="search-suggestion-name" md-highlight-text="searchText" md-highlight-flags="^i">{{item | getName}}</span>
            <span class="search-suggestion-name search-suggestion-address">{{item | getAddress}}</span>
          </div>
        </md-item-template>
        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>
    </div>

  <md-whiteframe class="infobox-container" layout="column" layout-align="center center"
                 ng-controller="InfoboxController as infobox"
                 ng-show="main.show.infobox">
    <div class="infobox-loading" layout="column" layout-align="start center"
         ng-show="main.show.infoboxLoading">
      <span class="infobox-loading-text">Searching for data...</span>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <div ng-hide="main.show.infoboxLoading">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3></h3>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Close"
                     ng-click="infobox.hide()">
            <md-icon class="material-icons" aria-label="Close">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-tabs md-selected="main.map.objectsTab" md-dynamic-height md-border-bottom>
        <md-tab>
          <md-tab-label>
            <md-icon class="material-icons" aria-label="Info">info_outline</md-icon> info
          </md-tab-label>
          <md-tab-body>
            <div class="tab-header">
              <h3>
                <p class="md-subheader">{{infobox.getObjectType()}}</p>
                {{infobox.getObjectTag('name:en') || infobox.getObjectTag('name') || "/no name/"}}
                <span ng-show="infobox.getObjectTag('stars')">{{infobox.getObjectTag('stars') | toStars}}</span>
              </h3>
              <div class="md-subheader">
                <div>{{infobox.getObjectTag('addr:housenumber')}} {{infobox.getObjectTag('addr:street')}}</div>
                <div>{{infobox.getObjectTag('addr:postcode')}} {{infobox.getObjectTag('addr:city')}}</div>
              </div> 
            </div>
            <md-list>
              <md-list-item class="md-2-line" ng-show="infobox.getObjectTag('phone') || infobox.getObjectTag('contact:phone')">
                <md-icon class="material-icons" aria-label="Phone">phone</md-icon>
                <div class="md-list-item-text">
                  <h3>{{infobox.getObjectTag('phone') || infobox.getObjectTag('contact:phone')}}</h3>
                  <h4>{{infobox.getObjectTag('fax') || infobox.getObjectTag('contact:fax')}}</h4>
                </div>
              </md-list-item>
              <md-list-item ng-show="infobox.getObjectTag('website') || infobox.getObjectTag('contact:website')">
                <md-icon class="material-icons" aria-label="Phone">link</md-icon>
                <p>
                  <a ng-href="{{infobox.getObjectTag('website') || infobox.getObjectTag('contact:website')}}" target="_blank">
                    {{infobox.getObjectTag('website') || infobox.getObjectTag('contact:website') | domain}}
                  </a>
                </p>
              </md-list-item>
              <md-list-item ng-show="infobox.getObjectTag('opening_hours')">
                <md-icon class="material-icons" aria-label="Phone">access_time</md-icon>
                <p>{{infobox.getObjectTag('opening_hours')}}</p>
              </md-list-item>
              <md-divider ng-show="infobox.getObject().wikipedia"></md-divider>
              <md-subheader class="md-no-sticky"
                            ng-show="infobox.getObject().wikipedia">Wikipedia</md-subheader>
              <md-list-item ng-show="infobox.getObject().wikipedia">
                <p ng-bind-html="infobox.getObject().wikipedia"></p>
              </md-list-item>
            </md-list>
            <md-divider></md-divider>
            <section layout="row" layout-sm="column" layout-align="center center">
              <md-button flex ng-click="infobox.setMapCenter()">
                <md-icon class="material-icons" aria-label="Info">pin_drop</md-icon>
                center map
              </md-button>
              <md-button flex ng-disabled="true">
                <md-icon class="material-icons" aria-label="Info">navigation</md-icon>
                navigate
              </md-button>
            </section>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <md-icon class="material-icons" aria-label="Code">code</md-icon> code
          </md-tab-label>
          <md-tab-body>
            <pre>{{infobox.getObject().tags | json}}</pre>
            <section layout="row" layout-sm="column" layout-align="center center">
              <md-button class="md-primary" flex ng-href="http://osm.org/{{infobox.getObject().type}}/{{infobox.getObject().id}}" target="_blank">osm.org</md-button>
              <md-button flex ng-href="http://osm.org/edit?{{infobox.getObject().type}}={{infobox.getObject().id}}" target="_blank">Edit in iD</md-button>
              <md-button flex ng-disabled="true">Edit in JOSM</md-button>
            </section>
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            <md-icon class="material-icons" aria-label="Close">list</md-icon> all ({{main.map.objects.length}})
          </md-tab-label>
          <md-tab-body>
            <md-list>
              <md-list-item class="md-2-line"
                            ng-repeat="object in main.map.objects"
                            ng-click="infobox.setObject($index)">
                <md-icon class="material-icons" aria-label="Place">place</md-icon>
                <div class="md-list-item-text">
                  <p>{{infobox.getObjectType($index)}}</p>
                  <h3>{{object.tags.name|| '#' + object.id}}</h3>
                </div>
              </md-list-item>
            </md-list>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
  </md-whiteframe>

  <md-toolbar layout="row">
    <md-button ng-click="main.showMenu()" layout="row" layout-align="center center">
      <md-icon class="material-icons step" aria-label="Options">settings</md-icon>
      <span class="toolbar-label">Options</span>
    </md-button>
    <md-button ng-click="main.showLayerSwitcher($event)">
      <md-icon class="material-icons step" aria-label="Layers">layers</md-icon>
      <span class="toolbar-label">Layers</span>
    </md-button>
    <h1>osmapa</h1>
    <md-button ng-click="main.action = 'geoloc'">
      <md-icon class="material-icons step" aria-label="Location">my_location</md-icon>
      <span class="toolbar-label">Location</span>
    </md-button>
  </md-toolbar>

  <div flex layout="row">
    <div ng-controller="SidebarController as sidebar">
      <md-sidenav class="md-whiteframe-z2" md-component-id="left">
        <md-list>
          <md-subheader class="md-no-sticky">Show this area in</md-subheader>
          <md-list-item ng-repeat="website in sidebar.websites">
            <md-icon class="material-icons">link</md-icon>
            <p><a ng-href="{{sidebar.goToUrl(website)}}" target="_blank">{{website}}</a></p>
          </md-list-item>
        </md-list>
      </md-sidenav>
    </div>
    <md-content flex id="content">
      <md-card>
        <div ng-leaflet ng-model="main.map" ng-layers="main.layers" ng-action="main.action" ng-shown="main.show"></div>
      </md-card>
      <footer>© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributors</a></footer>
    </md-content>
  </div>

  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular/angular-animate.min.js"></script>
  <script src="vendor/angular/angular-aria.min.js"></script>
  <script src="vendor/angular/angular-sanitize.min.js"></script>
  <script src="//gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>
  <script src="vendor/leaflet/leaflet.js"></script>

  <script src="js/app.js"></script>
  <script src="js/main/mainCtrl.js"></script>
  <script src="js/infobox/infoboxCtrl.js"></script>
  <script src="js/layers/layersCtrl.js"></script>
  <script src="js/search/searchCtrl.js"></script>
  <script src="js/sidebar/sidebarCtrl.js"></script>

  <script src="js/infobox/infoboxService.js"></script>
  <script src="js/search/searchService.js"></script>

  <script src="js/leaflet.js"></script>
</body>
</html>
